{% extends 'base.html' %}

{% block content %}

<h1>All Users</h1>

    {% for user in users %}

    <p><a href="/blog?user={{user.id}}">{{user.username}}</a></p>

    {% endfor %}

{% endblock %}

<!-- <div class='content'>
{% if blogs|length == 0 %}
<p>No blogs yet. <a href='/newpost'>Add a post</a></p>
{% else %}
    <table>
        {% for blog in blogs %}
        <tr>
            <td>
                <a href='/blog?id={{blog.id}}'><h3>{{blog.title}}</h3></a>
            </td>
        </tr>
        <tr>
            <td>
                <p>Published: {{blog.pub_date}}</p>
            </td>
        </tr>
        <tr>
            <td>
                {{blog.body}}
            </td>
        </tr>
        {% endfor %} 
    </table>
{% endif %}
</div>
{% endblock %} -->