{% extends "base.html" %}

{% block content %}
    <h1>My Blog</h1>
    <form method='post'>
        <h3>Add a new post to your blog</h3>
        <p>
            <label>
                Title: <br>
                <input type="text" name='title' />
            </label>
        </p>
        <p class="error">{{title_error}}</p>
        <p>
            <label>
                Body: <br>
                <textarea class="bodycontent" name='entry' rows=5 cols=80></textarea>
            </label>
        </p>
        <p class="error">{{entry_error}}</p>
        <input type="submit" value='Add Entry' />
    </form>

{% endblock %}