{% extends "base.html" %}

{% block content %}

<h1>New Blog Post</h1>

<form method='POST'>
    <table>
        <tr>
            <td>
                <label>Blog Title:</label>
            </td>
            <td>
                <input type='text' name='title'/>
            </td>
        </tr>
        <tr>
            <td>
                <label for='body'>Blog Body::</label>
            </td>
            <td>
                <textarea name='body' rows='15' cols='45'>{{body}}</textarea>
            </td>
        </tr>
    </table>
    <input type='submit' value='Add Post'/>
</form>

{% endblock %}